*,
html,
body {
  text-align: center;
  box-sizing: border-box;
}

#about__Box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}
 #account__Stocks {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   justify-content: space-between;
 }

.about__Text {
  width: 80%;
  font-style: italic;
}


#clock {
  margin: 2rem 2rem;
}

#clock__Time {
  width: 10rem;
  height: 3rem;
  background-color: #1c2331;
  border-radius: 5px;
  font-size: large;
  color: white;
  padding: 5px;
}

.divider {
  display: inline-block;
  border-bottom: black 1px solid;
  width: 100px;
  margin: 30px;
}

#home__Container {
  margin: 2rem 2rem;
}

#login__Box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#login__Form {
  width: 50%;
}

#main__Style {
  margin-top: 4rem;
}

#modal__Button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  font-size: large;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

  #quote__Card {
font-size: small;
   width: 20rem;
  }

#search__Box {
  display: flex;
  justify-content: center;
}

#signup__Box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#signup__Form {
  width: 50%;
}

#stock__Box {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#stock__Button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  font-size: large;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}


 .stock__Cards {
  margin: 1rem;
   width: 14rem;
   border: '1px solid gray';
   flex-grow: '0';
   box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
 }




/* less than 576px */
@media (max-width: 575.98px) { 
  #spinner__Box {
    margin-top: 4rem;
  }
  .stock__Cards {
     margin: auto;
  }
    #quote__Card {
   width: 100%;
  }
 }

/* less than 768px */
@media (max-width: 767.98px) { 

 }

/* less than 992px */
@media (max-width: 991.98px) { 

 }

/* less than 1200px */
@media (max-width: 1199.98px) { 
    hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: lightgray;
    height: 1px;
  }
  #home__Link {
    margin-bottom: 1rem;
  }
 }

 @media (min-width: 576px)  { 
  #stock__Col {
    display: flex;
    justify-content: center;
  }
  #quote__Card {
    width: "80%";
    font-size: small;
    
  }
  #spinner__Box {
    margin: auto;
  }
 }