#clock {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#clock__Time {
  width: 10rem;
  height: 3rem;
  background-color: #1c2331;
  border-radius: 5px;
  font-size: large;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#stock__Box {
  margin: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#stock__Button {
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  font-size: large;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.divider {
  display: inline-block;
  border-bottom: black 1px solid;
  width: 100px;
  margin: 30px;
}
